## Comparison Operators
### Operator and there names 
1. ==  Checking
2. !=  Not Equal
3.   Greater Than 
4. <  Less Than 
5. `>=` Greater Than or Equal To
6. <= Less Than or Equal To

In [3]:
10 == 50

False

In [4]:
10 == 10

True

In [5]:
10 != 50

True

In [6]:
'Vanilla' == 'Vanilla'

True

In [9]:
x = 'Vanilla'
y = 'Chocolate'
x != y

True

In [10]:
10 <= 10

True

In [11]:
10 >= 10

True

## Logical Operators 
### Operators and there Descriptions 
1. and  Returns True if both statements are true 
2. or  Returns True if one of the statements is true 
3. not  Reverse the result, returns False if she result is true

In [12]:
(10 > 50) and (50 > 10)

False

In [13]:
(70 > 50) and (50 > 10)

True

In [14]:
(10 > 50) or (50 > 10)

True

In [15]:
('Vanilla' > 'Chocolate') or (50 > 10)

True

In [16]:
('Vanilla' > 'Chocolate') and (50 > 10)

True

In [17]:
not(50 > 10)

False

## Membership Operators 
### Operator and there Description 

1. in  Returns True if a sequence with the specified value is present in the object
2. not in  Returns True if a sequence with the specified value is not present in the object

In [18]:
ice_cream = 'I Love Chocolate ice cream'

'Love' in 'I Love Chocolate ice cream'

True

In [19]:
scoops = [1,2,3,4,5]
5 in scoops

True

In [20]:
scoops = [1,2,3,4,5]

6 not in scoops

True

In [21]:
scoops = [1,2,3,4,5]
wanted_scoops = 8
wanted_scoops not in scoops

True

In [22]:
scoops = [1,2,3,4,5]
wanted_scoops = 8
wanted_scoops in scoops

False